# Ignore everything
*

# Allow some files/directories
!site/assets/css/
!site/assets/scss/
!site/content/
!site/layouts/
!site/static/
!site/themes/
!site/config.toml
!.git

# Ignore videos
site/static/videos/
