[submodule "themes/hyde"]
	path = site/themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/hyde-y"]
	path = site/themes/hyde-y
	url = https://github.com/enten/hyde-y
[submodule "themes/hyde-hyde"]
	path = site/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
