.centered, .center, .centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

figcaption.centered, figcaption.centred, figcaption.center {
  text-align: center;
}

.toc-wrapper {
  padding: 0 10px;
}

dl > dt {
  font-weight: bold;
}

#ot-logo {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
}
