{{/* Current max document width is 750 */}}
{{- $scratch := newScratch }}
{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- $scratch.Set "image" $img -}}

{{- $maxWidth := 650 -}}

{{- $retinaWidth := (mul $maxWidth 2) -}}
{{- $zoomWidth := (mul $maxWidth 4) -}}

{{- if gt $img.Width $zoomWidth -}}
  {{- $finalWidth := (printf "%dx" $zoomWidth) -}}
  {{- $scratch.Set "image4x" ($img.Resize $finalWidth) -}}
{{- end -}}

{{- if gt $img.Width $retinaWidth -}}
  {{- $finalWidth := (printf "%dx" $retinaWidth) -}}
  {{- $scratch.Set "image2x" ($img.Resize $finalWidth) -}}
{{- end -}}

{{- if gt $img.Width $maxWidth -}}
  {{- $finalWidth := (printf "%dx" $maxWidth) -}}
  {{- $scratch.Set "image" ($img.Resize $finalWidth) -}}
{{- end -}}

{{- $image := $scratch.Get "image" -}}
{{- $image2x := $scratch.Get "image2x" -}}
{{- $image4x := $scratch.Get "image4x" -}}

{{- if $.Text -}}
<figure>
{{- end -}}
  {{- with $image4x -}}
  <div class="zoom">{{ end }}
    <img width="{{ $image.Width }}"
         height="{{ $image.Height }}"
         class="centred"
         src="{{ $image.RelPermalink }}"
         {{ with .Text }}alt="{{ . }}"{{ end }}
         {{ with .Title }}title="{{ . }}"{{ end }}
         srcset="{{ $image.RelPermalink }} 1x{{ with $image2x }}, {{ .RelPermalink }} 2x{{ end }}{{ with $image4x }}, {{ .RelPermalink }} 4x{{ end }}"
         {{- if $image4x -}}
         data-src="{{ $image4x.RelPermalink }}"
         {{- end -}}
         >
  {{- with $image4x -}}
  </div>{{ end }}
{{- if $.Text -}}
    
  <figcaption class="centred">{{ $.Text }}{{ with .Title }} &mdash; {{ . | markdownify }}{{ end }}</figcaption>
</figure>
{{- end -}}
