<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700%7CAbril+Fatface">

  <style type="text/css">
    IMG.logo {
      display: block;
      margin-left: auto;
      margin-right: auto; 
    }

    @media (min-width: 48rem) {
      .sidebar {
        text-align: center;
      }
    }

    img.centred {
      margin: 0px auto;
      display: block;
    }
</style>
  
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <!-- MathJax -->
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <script type="text/javascript">
    MathJax.Hub.Config({
      "HTML-CSS": {
        styles: {
          ".MathJax .mo, .MathJax .mi, MathJax .mn": {color: "#515151 ! important"}
        }
      },
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
  </script>
</head>
