<!-- image -->
  <figure{{ with .Get "class" }} class="{{.}}"{{ end }}>
  <!--{{ with .Get "link"}}<a href="{{.}}">{{ end }}-->
    {{ if .Get "link" }}
      <a href="{{ .Get "link" }}">
    {{ else if .Get "hidpi" }}
      <a href="{{ .Get "hidpi" }}" target="_blank">
    {{ end }}
      <img class="centred" src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} srcset="{{.Get "src" }} 1x{{ with .Get "hidpi" }}, {{.}} 2x{{ end }}" />
      {{ if or (.Get "link") (.Get "hidpi")}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        <small>
          {{ if or (.Get "caption") (.Get "attr")}}
          {{ .Get "caption" }}
          {{ with .Get "attrlink"}} &mdash; <em><a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
            {{ if .Get "attrlink"}}</a> {{ end }}</em>
          {{ end }}
        </small>
    </figcaption>
    {{ end }}
  </figure>

<!-- image -->
